@section Scripts
{
}

<div>
  <section class="section">
    <div class="topics-main">
      <div class="topics-content">
        <h1 class="title">Public topics</h1>

        <div>
          <strong>We have moved!</strong> Topics are now available as part of the v2 experience at <a href="https://build.dfds.cloud/v2/topics">https://build.dfds.cloud/v2/topics</a>
        </div>

      </div>
    </div>
  </section>
</div>