@section Scripts
{
    <script src="~/capabilitydashboard.bundle.js"></script>
}

<div id="capabilitydashboard-app" v-cloak>
    <banner v-if="showIEBanner" description="Internet Explorer is not a supported browser on the Self Service Portal. Certain functionality is quite likely to not work."></banner>
    
    <section class="section">
        <div class="container" v-if="initializing">

            <div id="global-dialog-container"></div>

            <div class="has-text-centered">
                Loading...
            </div>
        </div>
        <div class="container" v-if="initializing === false">
            <div class="container" v-if="capabilityFound">
        <div class="container box">
            <h1 class="title is-uppercase">Summary</h1>
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h2 class="subtitle">{{ capability.name }}</h2>
                    </div>
                </div>
                <!-- Right side -->
                <div class="level-right">          
                    <div class="buttons is-right">
                        <button
                            type="button"
                            v-on:click="toggleShowEditCapability()"
                            v-if="getMembershipStatusFor(capability.id) == 'member'"
                            class="button is-small is-primary">
                            Edit
                        </button>                          
                        <button
                            type="button"
                            class="button is-small is-primary"
                            v-if="getMembershipStatusFor(capability.id) == 'notmember'"
                            v-on:click="joinCapability()">
                            Join
                        </button>
                        <button
                            type="button"
                            class="button is-small is-danger is-outlined"
                            v-if="getMembershipStatusFor(capability.id) == 'member'"
                            v-on:click="leaveCapability()">
                            Leave
                        </button>
                    </div>

                </div>
            </div>
            <div>
                <p>{{capability.description}}</p>
            </div>
            <div class="container" v-if="hasMembers()">
                <br/>
                <p>Members: </p>
                <div class="level">
                    <div class="tags">
                        <span :class='isCurrentUser(member.email) ? "tag is-primary" : "tag is-light"' v-for="member in capability.members">{{member.email}}</span>
                    </div>
                </div>
            </div>
        </div>

         <div class="container box">
                <h1 class="title is-uppercase">Resources</h1>
                <div>
                    <p>
                        A capability is the 'container' for your cloud resources. Currently we support 1 AWS Account (sandbox) and 1 Kubernetes namespace per capability. These are not added per default to a capability, but must be requested by clicking the button below. Note that there is manual processing involved in getting an AWS account attached so it may take a while before your resources are ready.
                    </p>
                </div>
                <div class="level-right">
                        <div class="buttons is-right">
                         <button
                            type="button"
                            class="button is-small is-primary"
                            v-bind:class="{tooltip: isAddContextDisallowedComputed, 'is-tooltip-bottom': isAddContextDisallowedComputed, 'is-tooltip-multiline': isAddContextDisallowedComputed }"
                            :disabled='isAddContextDisallowedComputed'
                            :data-tooltip="disabledContextButtonReasonComputed"
                            v-on:click="addContext()"
                            v-if="getContextStatusFor() == 'notadded'">
                            Add AWS account and K8s namespace
                        </button>
                        <button
                            type="button"
                            class="button is-small is-primary is-loading"
                            v-if="getContextStatusFor() == 'requested'">
                            Add AWS account and K8s namespace
                        </button>
                        <div
                            class="button is-small is-info is-outlined" disabled
                            v-if="getContextStatusFor() == 'added'">
                            AWS account and K8s namespace added
                        </div >
                        <button
                            type="button"
                            class="button is-small is-primary  is-loading"
                            v-if="getMembershipStatusFor(capability.id) == 'requested'">
                            Join
                        </button>
                        </div>
                </div>
            </div>

            <div class="container box">
                <h1 class="title is-uppercase">LOGS</h1>
                <p>
                    Access all logs related to your namespace in <a target="_blank" href="https://search-dfds-prod-wtl5643bwepapwo3we76x7jkse.eu-central-1.es.amazonaws.com/_plugin/kibana/goto/2962a60ad16a0af78ae22f0e96c2c6c6">Kibana</a>.
                </p>
            </div>

        <!--- Communication channel section --->
            <div class="container box">
                <h1 class="title is-uppercase">Communication channels</h1>
                <channel-picker :is_enabled="true" :capabilitychannels="channels" v-on:capability-join-channel="handleCapabilityJoinChannel" v-if="getMembershipStatusFor(capability.id) == 'member'"></channel-picker>
                <channel-list :channels="channels" :can_edit="getMembershipStatusFor(capability.id) == 'member' && canLeaveCommunicationChannel" v-on:capability-leave-channel="handleCapabilityLeaveChannel"></channel-list>
            </div>                          

            <capability-edit :enable="showEditCapability" :initialdata="capability" v-on:capability-edit-save="handleCapabilityEdit" v-on:capability-edit-close="toggleShowEditCapability()"></capability-edit>

            <div class="container box" v-if="topicsEnabled">
                <h1 class="title is-uppercase">Topics</h1>

                <div>
                    <p>
                         Listed below is the Kafka topics that are attached to this Capability.
                    </p>
                </div>
                <br>

                <div class="buttons is-right">
                         <button
                            type="button"
                            v-on:click="toggleShowAddTopic()"
                            class="button is-small is-primary">
                            Add Topic
                        </button>
                </div>

                <topic-add :enable="showAddTopic" v-on:addtopic-new-topic="addTopic" v-on:addtopic-close="toggleShowAddTopic()"></topic-add>
                <topic-edit :enable="showEditTopic" :initialdata="topicEditData" v-on:edittopic-edit="editTopic" v-on:edittopic-close="toggleShowEditTopic()"></topic-edit>
                <message-contract-edit :enable="showMessageContractEdit" :initialdata="messageContractEditData" v-on:messagecontractedit-edit="handleMessageContractEdit" v-on:messagecontractedit-close="toggleShowMessageContractEdit"></message-contract-edit>

                <div class="topics">
                    <div v-for="topic in capability.topics" :key="topic.id">
                        <topic :topic="topic"
                        v-on:messagecontractadd-new="handleMessageContractAdd"
                        v-on:messagecontractedit-close="toggleShowMessageContractEdit"
                        v-on:messagecontract-delete="handleMessageContractDelete"
                        v-on:addtopic-close="toggleShowEditTopic"></topic>
                    </div>
                </div>
            </div>

        <!--- Summary section --->
            <div class="container box" style="display:none">
                <h1 class="title is-uppercase">Capability summary</h1>
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Pods</p>
                            <p class="title">-</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading"># Errors/24h</p>
                            <p class="title">-</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Active alerts</p>
                            <p class="title is-info">-</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Estimated users</p>
                            <p class="title">-</p>
                        </div>
                    </div>
                </nav>
            </div>


        <!--- Topic section --->
        <!---
        <div class="container box">
            <h1 class="title is-uppercase">Topics</h1>
            <button type="button" class="button is-primary" v-on:click="newTopic()">Add</button>
            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="topic in capability.topics" v-bind:data-id="capability.id">
                    <td>
                        <a :href="topic.name | topicdetails">{{topic.name}}</a
                    ></td>
                </tbody>
            </table>
        </div>
        --->
    </div>
    <div class="container" v-else>
        <article class="message is-danger">
            <div class="message-header">
                <p>Unable to load capability</p>
            </div>
            <div class="message-body">
                Cant find
            </div>
        </article>
    </div>
        </div>

    </section>
 </div>





<script id="leave-dialog-template" type="text/x-mustache">
    <div id="leave-dialog" class="modal is-active">
        <div class="modal-background" data-behavior="close"></div>
        <div class="modal-card">

<article class="message">
  <div class="message-header">
    <p>Warning...</p>
    <button class="delete" aria-label="delete" data-behavior="close"></button>
  </div>
  <div class="message-body">
    <div class="error is-hidden notification is-danger">
        <strong class="error-title"></strong> <span class="error-message"></span>
    </div>
    <p>
        You are about to leave the capability <strong>{{capabilityName}}</strong>. Changes can take up
        to 30 minutes to take effect. Please confirm?
    </p>
    <br>

    <div class="buttons is-centered">
        <button class="button is-danger" data-behavior="save">Leave</button>
        <button class="button is-info" aria-label="close" data-behavior="close">Cancel</button>
    </div>
  </div>
</article>

        </div>
    </div>
</script>

<script id="add-context-dialog-template" type="text/x-mustache">
    <div id="leave-dialog" class="modal is-active">
        <div class="modal-background" data-behavior="close"></div>
        <div class="modal-card">

<article class="message">
  <div class="message-header">
    <p>Info...</p>
    <button class="delete" aria-label="delete" data-behavior="close"></button>
  </div>
  <div class="message-body">
    <div class="error is-hidden notification is-danger">
        <strong class="error-title"></strong> <span class="error-message"></span>
    </div>
    <p>
        Provisioning of resources is already in progress and we expect it to be completed as soon as possible. You will be notified in the capability Slack channel, when the namespace is ready for usage. Permissions may take longer to propagate.
    </p>
    <br>

    <div class="buttons is-centered">
        <button class="button is-info" aria-label="close" data-behavior="close">Ok</button>
    </div>
  </div>
</article>

        </div>
    </div>
</script>

<script id="error-dialog-template" type="text/x-mustache">
    <article class="message is-danger">
        <div class="message-header">
            <p>{{title}}</p>
        </div>
        <div class="message-body">
            {{message}}
        </div>
    </article>
</script>

<script id="new-topic-template" type="text/x-mustache">
    <div id="topic-editor" class="modal is-active">
        <div class="modal-background" data-behavior="close"></div>
        <div class="modal-card">

            <header class="modal-card-head">
                <p class="modal-card-title">Add topic</p>
                <button class="delete" aria-label="close" data-behavior="close"></button>
            </header>
            <div class="modal-card-body">
                <div class="dialog-container"></div>
                <div class="form">
                    <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Enter topic name" data-property="name" value="{{name}}">
                    </div>
                    </div>
                     <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                       <input class="input" type="text" placeholder="Description" data-property="description" value="{{description}}">
                    </div>
                    </div>
                    <div class="field">
                        <label class="label">Visibility</label>
                        <div class="control">
                            <div class="select">
                                <select data-property="visibility">
                                    <option value="public">Public</option>
                                    <option value="private">Private</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-text-centered">
                            <button class="button is-primary" data-behavior="save">Save</button>
                            <button class="button is-info" aria-label="close" data-behavior="close">Cancel</button>
                        </div>
                    </div>
                    <div>

                </div>
            </div>
        </div>
    </div>
</script>