@section Scripts
{
    <script src="~/capabilitydashboard.bundle.js"></script>
}

<div id="capabilitydashboard-app" v-cloak>
    <section class="section">
        <div class="container" v-if="initializing">

            <div id="global-dialog-container"></div>

            <div class="has-text-centered">
                Loading...
            </div>
        </div>
        <div class="container" v-if="initializing === false">
            <div class="container" v-if="capabilityFound">
        <div class="container box">
            <h1 class="title is-uppercase">Summary</h1>
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h2 class="subtitle">{{ capability.name }}</h1>
                    </div>
                </div>
                <!-- Right side -->
                <div class="level-right">

                    <div class="buttons is-right">
                        <button
                            type="button"
                            class="button is-small is-primary" disabled
                            v-on:click="addContext()"
                            v-if="getContextStatusFor() == 'notadded'">
                            Add AWS account and K8s namespace
                        </button>
                        <button
                            type="button"
                            class="button is-small is-primary is-loading" disabled
                            v-if="getContextStatusFor() == 'requested'">
                            Add AWS account and K8s namespace
                        </button>
                        <div
                            class="button is-small is-info is-outlined" disabled
                            v-if="getContextStatusFor() == 'added'">
                            AWS account and K8s namespace added
                        </div >
                        <button
                            type="button"
                            class="button is-small is-primary"
                            v-if="getMembershipStatusFor(capability.id) == 'notmember'"
                            v-on:click="joinCapability()">
                            Join
                        </button>
                        <button
                            type="button"
                            class="button is-small is-primary  is-loading"
                            v-if="getMembershipStatusFor(capability.id) == 'requested'">
                            Join
                        </button>
                        <button
                            type="button"
                            class="button is-small is-danger is-outlined"
                            v-if="getMembershipStatusFor(capability.id) == 'member'"
                            v-on:click="leaveCapability()">
                            Leave
                        </button>
                    </div>

                </div>
            </div>
            <div>
                <p>{{capability.description}}</p>
            </div>
            <div class="container" v-if="hasMembers()">
                <br/>
                <p>Members: </p>
                <div class="level">
                    <div class="tags">
                        <span :class='isCurrentUser(member.email) ? "tag is-primary" : "tag is-light"' v-for="member in capability.members">{{member.email}}</span>
                    </div>
                </div>
            </div>
        </div>

         <div class="container box">
                <h1 class="title is-uppercase">Info</h1>
                <div class="level-right">
                <div class="notification is-danger">
                <button class="delete"></button>
  For now you can't provision AWS Accounts and Kubernetes namespaces via the portal. Please contact Dev Excellence on slack, in channel #dev-excellence, if you need an AWS Account and Kubernetes namespce provisioned.
</div>
</div>
            </div>
       
        <!--- Summary section --->
            <div class="container box">
                <h1 class="title is-uppercase">Capability summary</h1>
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Pods</p>
                            <p class="title">54</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading"># Errors/24h</p>
                            <p class="title">58</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Active alerts</p>
                            <p class="title is-info">0</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Estimated users</p>
                            <p class="title">7893</p>
                        </div>
                    </div>
                </nav>
            </div>
                  
        <!--- AWS section --->
        <div class="container box">
            <h1 class="title is-uppercase">AWS Permissions</h1>
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <a class="button is-primary" :href="capability.name | awsPermissions">Permissions</a>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <div class="container" v-else>
        <article class="message is-danger">
            <div class="message-header">
                <p>Unable to load capability</p>
            </div>
            <div class="message-body">
                Cant find
            </div>
        </article>
    </div>
        </div>
   
    </section>
 </div>





<script id="leave-dialog-template" type="text/x-mustache">
    <div id="leave-dialog" class="modal is-active">
        <div class="modal-background" data-behavior="close"></div>
        <div class="modal-card">

<article class="message">
  <div class="message-header">
    <p>Warning...</p>
    <button class="delete" aria-label="delete" data-behavior="close"></button>
  </div>
  <div class="message-body">
    <div class="error is-hidden notification is-danger">
        <strong class="error-title"></strong> <span class="error-message"></span>
    </div>
    <p>
        You are about to leave the capability <strong>{{capabilityName}}</strong>. Changes can take up 
        to 30 minutes to take effect. Please confirm?
    </p>
    <br>

    <div class="buttons is-centered">
        <button class="button is-danger" data-behavior="save">Leave</button>
        <button class="button is-info" aria-label="close" data-behavior="close">Cancel</button>
    </div>
  </div>
</article>
            
        </div>
    </div>
</script>

<script id="error-dialog-template" type="text/x-mustache">
    <article class="message is-danger">
        <div class="message-header">
            <p>{{title}}</p>
        </div>
        <div class="message-body">
            {{message}}
        </div>
    </article>
</script>