@section Scripts
{
    <script src="~/topicdetails.bundle.js"></script>
}

<div id="topicdetail-app" v-cloak>
    <section class="section">
        
        <div class="has-text-centered" v-if="initializing">
            Loading...
        </div>

        <div class="container" v-else>  
            <div class="container box">
                <h1 class="title is-uppercase">Summary</h1>
                <p>Name: {{ topic.name }}</p>
                <p>Description: <textarea v-model="topic.description" placeholder="Topic description"></textarea></p>
                <p>Visibility: {{ topic.visibility }}</p>
            </div>
            <div class="container box">
                <h1 class="title is-uppercase">Message examples</h1>
                <button type="button" class="button is-primary" v-on:click="newMessageExample()">Add</button>
           
                <div v-for="messageExample in topic.messageExamples" v-bind:data-id="messageExample.id">
                        <h2>MessageType: {{messageExample.messageType}}</h2>
                        <p>Text: <code>{{messageExample.text}}</code></p>
                </div>
            </div>
        </div>
    </section>
</div>

<script id="new-message-example-template" type="text/x-mustache">
    <div id="new-message-example-editor" class="modal is-active">
        <div class="modal-background" data-behavior="close"></div>
        <div class="modal-card">

            <header class="modal-card-head">
                <p class="modal-card-title">Add message example</p>
                <button class="delete" aria-label="close" data-behavior="close"></button>
            </header>
            <div class="modal-card-body">
                <div class="dialog-container"></div>
                <div class="form">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Enter message type" data-property="messageType" value="{{messageType}}">
                        </div>
                    </div>
                     <div class="field">
                        <label class="label">Text</label>
                        <div class="control">
                        <input class="input" type="text" data-property="text" value="{{text}}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-text-centered">
                            <button class="button is-primary" data-behavior="save">Save</button>
                            <button class="button is-info" aria-label="close" data-behavior="close">Cancel</button>
                        </div>
                    </div>
                    <div> 
                        
                </div>
            </div>
        </div>
    </div>
</script>