@section header
{
    <link rel="stylesheet" href="~/aws.css" />
}

@section Scripts
{
    <script src="~/aws.bundle.js"></script>
}

<div id="aws-app" v-cloak>

    <section class="section">

        <div class="container">
            <a :href="awsLink">AWS Link</a>
        </div>
    </section>

</div>