@using Microsoft.AspNetCore.Hosting
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blaster</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    @RenderSection("Header", required: false)
</head>
<body>

    <header>
        <div class="container has-text-right has-text-weight-light">
            Welcome, John Doe
        </div>

        <br />

        <div class="container">
            <nav class="navbar is-transparent">
                <div class="navbar-brand">
                    <div class="navbar-item">
                        <span class="title is-1">Blaster</span>
                    </div>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-start"></div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <a href="/teams" class="button is-outlined is-rounded">Teams</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <br />

    </header>

    @RenderBody()

    <script>
        window.basePath = "@Context.Request.PathBase";
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>