@charset "utf-8";
@import "fonts/font";

$dfds-font: DFDS, sans-serif;

// DFDS brand colors
$group-blue: #002B45;
$text-grey: #4D4E4C;
$yes-green: #C3E5B5;
$no-red: #E5A5AB;
$background-grey: #EEF0F1;

$primary-orange: #ED8B00;
$action-blue: #68B2E3;
$inactive-grey: #D8DAD9;
$link-blue: #1B5786;

// Update Bulma's global variables
$family-sans-serif: $dfds-font;
$family-primary: $family-sans-serif;

// $grey-dark: $brown;
// $grey-light: $beige-light;

$background: $background-grey;
$primary: $primary-orange;
$link: $link-blue;

// $info: $action-blue;
$success: $yes-green;
// $warning: $yellow;
$danger: $no-red;
// $dark: $grey-darker;
// $text: $grey-dark;

$widescreen-enabled: false;
$fullhd-enabled: false;


// navbar
$navbar-background-color: $group-blue;
$navbar-height: 80;
$navbar-item-color: rgba(255, 255, 255,0.8);
$navbar-item-hover-color: #5087AC;
$navbar-item-hover-background-color: $group-blue;
$navbar-padding-horizontal: 10em;
$navbar-mobile-trigger: "all and (max-width: 1087px)";

@import "~bulma/bulma";
@import "~bulma-extensions/bulma-tooltip/src/sass/index";
@import "~primeicons/primeicons.css";
@import "~primevue/resources/themes/saga-blue/theme.css";
@import "~primevue/resources/primevue.min.css";

[v-cloak] {
    display: none;
}

.navbar-brand {
    height: 80px;
    display: flex;

    @media #{$navbar-mobile-trigger} {
        flex: 1;
    }

    .navbar-item {
        img {
            max-height: 49px;
        }
    }
}

.navbar-end {
  .navbar-item {
    .login {
      width: 100px;
      display: flex;
      flex-direction: column;
      min-width: 0;
      white-space: nowrap;

      @media #{$navbar-mobile-trigger} {
        width: auto;
      }
    }
  }
}

.navbar-burger {
    width: 80px;
    height: 80px;
}

.navbar-mobile {
    align-self: flex-end;
    @media #{$navbar-mobile-trigger} {
        align-self: flex-start;
    }
}

.banner {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffc108;
    h2 {
        font-size: 1.3rem;
        color: #4d4e4c;
    }
    p {
        color: #4d4e4c;
    }
}

.nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .main {
        display: flex;
        flex-direction: row;

        @media #{$navbar-mobile-trigger} {
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    @media #{$navbar-mobile-trigger} {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.generic-warning-box {
    display: flex;
    justify-content: center;
    background-color: #ffbc57;
    padding-top: 5px;
    padding-bottom: 5px;

    &.orange {
        background-color: #ff9800;
    }

    &.red {
        background-color: #be1e2d;
        p {
            color: #ffffff;
        }
    }
}

.countdown {
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    .divider {
        margin-left: 5px;
        margin-right: 5px;
    }

    div span a {
        color: rgba(255, 255, 255, 0.8);

        &:hover {
            color: #5087AC;
        }
    }
}

.container {
    position: static;
}

.button {
    border-radius: 0;
}

.channelDropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 240px;
    width: 240px;
    background: #e6eaf7;
    z-index: 999; // It's kinda hacky and I don't like it, not one bit.
    overflow: auto;
}

.channel {
    padding-left: 7px;
    font-size: 1.2rem;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
}

.channelhightlight {
    &:hover {
        background: #d9dce9;
    }
}

.channelPicker {
    width: 240px;
}

.channelInput {
    width: 100%;

    input {
        width: 100%;
    }
}

.topics {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.topic > * {
    margin-bottom: 15px;
    margin-left: 10px;
}

.topic {
    display: flex;
    flex-direction: column;
    border-top: 1px dashed #ccc;
    padding-top: 1rem;

    h2 {
        &.title {
            font-size: 1.6rem;
            font-weight: normal;
        }

        &:hover {
            cursor: pointer;
            color: #5087AC;
        }

        .status {
            float: right;
            font-size: 1rem;
            top: 0.4rem;
            position: relative;
        }

        clear: both;
    }

    .details {
        display: flex;
        flex-direction: column;

        .message-contract {
            display: flex;
            flex-direction: column;

            .block {
                display: flex;
                flex-direction: row;
            }

            .entry-title {
                font-weight: 600;
                margin-right: 5px;
            }

            .schema {
                color: #f1fa8c;
                background-color: #282a36;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 12px;
                padding-right: 12px;
                p {
                    white-space: pre-wrap;
                }
            }
        }

        .entry {
            display: flex;
            flex-direction: row;


            .entry-title {
                font-weight: 600;
                margin-right: 5px;
            }
        }

        .subtitle {
            margin-top: 10px;
            font-weight: 600;
            font-size: 1.1rem;
        }

        .green {
            background-color: rgb(89, 204, 89);
            color: #f1f1f1;
            padding-left: 5px;
            padding-right: 5px;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }


        .red {
            background-color: rgb(204, 102, 89);
            color: #f1f1f1;
            padding-left: 5px;
            padding-right: 5px;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    }

}

.modal-card-title {
    color: #4d4e4c;
}

.label {
    color: #4d4e4c;
}

.field {
    color: #4d4e4c;
    p {
        color: #4d4e4c;
        a {
            color: #1b5786;
            &:hover {
                color: #5087ac;
            }
        }
    }
}

.topics-main {
  width: 968px;
  margin-left:auto;
  margin-right:auto;

  @media #{$navbar-mobile-trigger} {
    width: 100%;
  }

  .topics-content {
    display: flex;
    flex-direction: column;
    //justify-content: center;

    table {
      width: 100%;
    }
  }
}

/* Responsive */
.p-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
    display: none;
}

@media #{$navbar-mobile-trigger} {
  .p-datatable {
      .p-datatable-thead > tr > th,
      .p-datatable-tfoot > tr > td {
          display: none !important;
      }

      .p-datatable-tbody > tr {
        background-color: rgb(231, 231, 231);
      }

      .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          border: 0 none !important;
          width: 100% !important;
          float: left;
          clear: left;
          border: 0 none;
          min-width: 0;
          word-break: break-all;

          span {
            word-wrap: break-word;
          }

          .p-column-title {
              padding: .4rem;
              min-width: 10%;
              display: inline-block;
              margin: -.4rem 1rem -.4rem -.4rem;
              font-weight: bold;
          }
      }
  }
}
