@section Scripts
{
    <script src="~/capabilities.bundle.js"></script>
}

<div id="capabilities-app" v-cloak>
    <banner v-if="showIEBanner" description="Internet Explorer is not a supported browser on the Self Service Portal. Certain functionality is quite likely to not work."></banner>

    <section class="section">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title">Capabilities</h1>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <button type="button" class="button is-primary" v-on:click="newCapability()">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="container">

            <div id="global-dialog-container"></div>

            <div class="has-text-centered" v-if="initializing">
                Loading...
            </div>
            <div>
                <p>Capabilities should be named uniquely after their (business) capability. Avoid using team or project names.</p><p>Read more on <a href="https://wiki.dfds.cloud/en/playbooks/service-design/capability-naming-guide">Playbooks</a>.</p>
            </div>

            <table class="table is-fullwidth is-hoverable" v-if="hasCapabilities">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Joined</th>
                        <th>Overview</th>
                        <th>Service indicators</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="capability in items" v-bind:data-id="capability.id">
                        <td><a :href="capability.id | capabilitydetails">{{capability.name}}<span v-if="!capability.rootId">*</span></a></td>
                        <td>
                            <div class="tags">
                                <span v-if="getMembershipStatusFor(capability.id) == 'member'" class="tag is-primary">Joined</span>
                            </div>
                        </td>
                        <td>
                            <span class="icon">
                                <i class="far fa-chart-bar"></i>
                            </span>
                        </td>
                        <td>
                            <span class="icon">
                                <i class="fas fa-tasks"></i>
                            </span>
                        </td>
                        <td>
                            Ready
                        </td>
                    </tr>
                </tbody>
            </table>
        <div style="font-size: 10px;">* Legacy capability format. Legacy capabilities continue to be supported and operate but will not receive new features.</div>
        </div>
    </section>

</div>

<script id="editor-template" type="text/x-mustache">
    <div id="capability-editor" class="modal is-active">
        <div class="modal-background" data-behavior="close"></div>
        <div class="modal-card">

            <header class="modal-card-head">
                <p class="modal-card-title">Add capability</p>
                <button class="delete" aria-label="close" data-behavior="close"></button>
            </header>
            <div class="modal-card-body">
                <div class="dialog-container"></div>
                <div class="form">
                    <div class="field">
                        <label class="label">Name</label>
                        <p>
                            The software architect for your area should be consulted when naming capabilities.
                        </p>
                        <br>
                        <p>
                            A capability should be named after the business capability your system will facilitate. e.g. FreightQuotes-Calculation, Handle-frozen-goods, Track-freight.
                        </p>
                        <br>
                        <p>
                            Read more about naming Capabilities in our <a target="_blank" href="https://wiki.dfds.cloud/en/playbooks/service-design/capability-naming-guide">Playbooks</a>.
                        </p>
                        <br>
                    <div class="control">
                        <input class="input" type="text" placeholder="Enter capability name" data-property="name" value="{{name}}">
                    </div>
                    Requirements: <span id="capNameValid">Only alphanumeric ASCII characters, minimum length of 3 and a maximum of 255. Must start with a capital letter, may contain hyphens.</span>
                    </div>
                     <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                       <input class="input" type="text" placeholder="Description" data-property="description" value="{{description}}">
                    </div>
                    </div>
                    <div class="field">
                        <div class="control has-text-centered">
                            <button class="button is-primary" data-behavior="save">Save</button>
                            <button class="button is-info" aria-label="close" data-behavior="close">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>

<script id="error-dialog-template" type="text/x-mustache">
    <article class="message is-danger">
        <div class="message-header">
            <p>{{title}}</p>
        </div>
        <div class="message-body">
            {{message}}
        </div>
    </article>
</script>
