@section Scripts
{
    <script src="~/awspermissions.bundle.js"></script>
}

<div id="awspermissions-app" v-cloak>

    <section class="section">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title">AWS Permissions</h1>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="container">

            <div id="global-dialog-container"></div>

            <div class="has-text-centered" v-if="initializing">
                Loading...
            </div>

            <table class="table is-fullwidth is-hoverable" v-if="hasPermissions">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="permission in items" v-bind:data-id="permission">
                        <td>{{permission}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>

<script id="error-dialog-template" type="text/x-mustache">
    <article class="message is-danger">
        <div class="message-header">
            <p>{{title}}</p>
        </div>
        <div class="message-body">
            {{message}}
        </div>
    </article>
</script>
