@section Scripts
{
    <script src="~/login.bundle.js"></script>
}

<div id="login-app" v-cloak>
    <banner v-if="showIEBanner" description="Internet Explorer is not a supported browser on the Self Service Portal. Certain functionality is quite likely to not work."></banner>

    <h3>Handling login..</h3>
</div>