@section Scripts
{
    <script src="~/myservices.bundle.js"></script>
}


<div id="myservices-app">
    <section class="section">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <ul>
                            <li v-for="team in teams" class="panel">
                                <p class="panel-heading">
                                    {{ team.name }}
                                </p>
                                <div class="panel-block">
                                    <ul>
                                        <li v-for="service in team.services">
                                            <a v-on:click="goToService(service.location)" class="button is-rounded">
                                                {{ service.name }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>