<section class="section" style="padding: 2rem 1.5rem;">
    <div class="container">
        <h1 class="title">DFDS Shared React Components</h1>
        <h2 class="subtitle">
            Build DFDS branded web apps fast! 
        </h2>
    </div>
</section>

<section class="section" style="padding: 2rem 1.5rem;">
    <div class="container">
        <p>The shared react components are a collection of <b>UX validated and –governed</b> react components. They enable experience teams to <b>build web-apps fast</b>, with a <b>consistent UI</b> across multiple projects</p>
        <p>A shared component can be imported and used in <b>multiple projects</b>. It provides <b>default styling and functionality</b>, which can be customized to some extent.</p>
        <p>Consumers can use a component <b>out of the box</b> with minimal configuration.</p>
        <p>Types of components: <b>basic UI</b> with no- or minimal logic <b>composition</b> which hold some logic e.g. a login component <b>widget</b> complex feature with many integrations.</p>
    </div>
</section>

<section class="section" style="padding: 2rem 1.5rem;">
    <div class="container">
        <h2 class="subtitle">
            How to <b>install the package</b>
        </h2>
        <p>
            Go to <a target="_blank" href="https://www.npmjs.com/package/@@dfds-ui/react-components">npm package library</a> for information about how to install.
        </p>
    </div>
</section>

<section class="section" style="padding: 2rem 1.5rem;">
    <div class="container">
        <h2 class="subtitle">
            You can check out available UI components in our <b>Storybook</b>
        </h2>
        <p>
            Go to <a target="_blank" href="https://ui-components-three.now.sh/">DFDS Storybook</a> for a visual overview of components available.
        </p>
    </div>
</section>

<section class="section" style="padding: 2rem 1.5rem;">
    <div class="container">
        <h2 class="subtitle">
            Need help, have ideas, want to contribute?
        </h2>
        <p>
            Please visit Slack channel <a target="_blank" href="https://dfds.slack.com/messages/CFSTCRGCC">#ui-components</a> for support, feedback and bug-report.
        </p>
		<p>Please report any issue on our <a target="_blank" href="https://github.com/dfds-frontend/ui-components">GitHub</a>.</p>
    </div>
</section>