@inject Blaster.WebApi.Security.UserHelper UserHelper

<section class="section" style="padding: 2rem 1.5rem;">
    <div class="container">
        <h1 class="title">DFDS Shared React Components</h1>
        <h2 class="subtitle">
            Build DFDS branded web apps fast! 
        </h2>
    </div>
</section>

<section class="section" style="padding: 2rem 1.5rem;">
    <div class="container">
        <p>The shared react components are a collection of <b>UX validated and –governed</b> react components. They enable experience teams to <b>build web-apps fast</b>, with a <b>consistent UI</b> across multiple projects</p>
        <p>A shared component can be imported and used in <b>multiple projects</b>. It provides <b>default styling and functionality</b>, which can be customized to some extent.</p>
        <p>Consumers can use a component <b>out of the box</b> with minimal configuration.</p>
        <p>Two types of components: 1) <b>stateless components</b> with no- or minimal logic 2) <b>business components</b> which hold some logic e.g. a login component</p>
    </div>
</section>

<section class="section" style="padding: 2rem 1.5rem;">
    <div class="container">
        <h2 class="subtitle">
            How to <b>install the package</b>
        </h2>
        <p>
            Go to <a target="_blank" href="https://www.npmjs.com/package/@@dfds-ui/react-components">npm package library</a> for information about how to install.
        </p>
    </div>
</section>

<section class="section" style="padding: 2rem 1.5rem;">
    <div class="container">
        <h2 class="subtitle">
            You can check out available components in our <b>Storybook</b>
        </h2>
        <p>
            Go to <a target="_blank" href="http://dfds-platform-storybook-dev.s3-website.eu-central-1.amazonaws.com">DFDS Storybook</a> for a visual overview of components available.
        </p>
    </div>
</section>

<section class="section" style="padding: 2rem 1.5rem;">
    <div class="container">
        <h2 class="subtitle">
            Need help, have ideas, want to contribute?
        </h2>
        <p>
            Please visit Slack channel <a target="_blank" href="https://dfds.slack.com/messages/CFSTCRGCC">#shared-react-comp</a> for support, feedback and bug-report.
        </p>
    </div>
</section>